* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #d2d7ff;
}

main {
  margin-left: 200px;
  padding: 50px 100px;
  height: 100%;
  overflow-x: hidden;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  margin-left: 200px;
  margin-top: 25%;
  padding: 100px;
  background-color: #2f3a9d;
  z-index: 99999999;
}

/* ----------------------------- */
.vertical-navbar {
  width: 200px;
  background-color: #2f3a9d;
  color: #fff;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  text-decoration: none;
}

.logo {
  display: block;
  text-align: center;
  background-color: #2f3a9d;
  z-index: 9999;
}

.logo img {
  height: 80px;
  width: 140px;
}

.vertical-navbar a {
  padding: 10px;
  height: 100px;
  text-decoration: none;
  font-size: 18px;
  color: #f0f0f0;
  display: block;
  align-content: center;
}

.vertical-menu a:hover {
  background-color: #4453e0;
}

/* -------------------- */
#header {
  display: block;
  font-size: 20px;
}

.top h1 {
  font-size: 52px;
}

.bottom {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
}

.bottom img {
  height: 400px;
  width: 600px;
  border-radius: 10%;
}

.bottom p {
  padding-left: 50px;
  text-align: justify;
}

/* -------------------- */
#cadastro {
  margin-top: 10%;
  width: 100%;
}

.registerBox {
  width: 40%;
  padding: 50px;
  border-style: solid;
  border-radius: 5px;
}

.input {;
  margin-bottom: 15px;
  width: 100%;
  display: grid;
}

.input label {
  font-size: 20px;
  display: block; 
}

.input input {
  height: 30px;
  border-radius: 5px;
}

.input select {
  height: 32px;
  border-radius: 5px;
}

.checkbox {
  font-size: 20px;
}

#checkbox {
  height: 30px;
  margin-bottom: 20px;
}

#button {
  font-size: 20px;
  height: 35px;
  width: 120px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #e0a734;
}

#button:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* -------------------- */
.footer-text {
  width: 100%;
  text-align: center;
  align-content: center;
}

.footer-text p {
  margin-bottom: 10px;
  color: white;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer-links img{
  height: 60px;
  width: 60px;
}