* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #d2d7ff;
}

main {
  margin-left: 200px;
  padding: 50px 100px;
  height: 100%;
  overflow-x: hidden;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  margin-left: 200px;
  margin-top: 25%;
  padding: 100px;
  background-color: #2f3a9d;
  z-index: 99999999;
}

/* ----------------------------- */
.vertical-navbar {
  width: 200px;
  background-color: #2f3a9d;
  color: #fff;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  text-decoration: none;
}

.logo {
  display: block;
  text-align: center;
  background-color: #2f3a9d;
  z-index: 9999;
}

.logo img {
  height: 80px;
  width: 140px;
}

.vertical-navbar a {
  padding: 10px;
  height: 100px;
  text-decoration: none;
  font-size: 18px;
  color: #f0f0f0;
  display: block;
  align-content: center;
}

.vertical-menu a:hover {
  background-color: #4453e0;
}

/* ------------------------------ */
#cabeçalho {
  display: flex;
  justify-content: space-between;
  color: black;
}

.cabeçalho-left {
  max-width: 50%;
  display: block;
  align-content: center;
}

.cabeçalho-left h1 {
  font-size: 52px;
  font-weight: bold;
}

.cabeçalho-left p {
  padding-top: 5%;
  padding-right: 10%;
  font-size: x-large;
  text-align: justify;
}

.cabeçalho-right {
  display: block;
  text-align: center;
  max-width: 50%;
}

.cabeçalho-right img {
  height: 400px;
  width: 600px;
  border-radius: 10%;
}

.cabeçalho-left input {
  margin-top: 50px;
  height: 60px;
  width: 160px;
  font-size: 20px;
  background-color: #e0a734;
  border-radius: 5px;
}

.cabeçalho-left input:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----------------------------- */
#services {
  display: flex;
  justify-content: space-between;
  margin-top: 25%;
}

.card {
  display: block;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: white;
}

.card img {
  height: 500px;
  width: 450px;
}

.card-text {
  padding: 25px;
}

.card h1 {
  font-size: x-large;
}

.card p {
  margin-top: 5%;
  max-width: 400px;
  font-size: large;
  text-align: justify;
}

.card input {
  margin-top: 25px;
  height: 50px;
  width: 150px;
  background-color: #e0a734;
  border-radius: 5px;
  font-size: large;
}

.card input:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----------------------------- */
#ofertas {
  margin-top: 25%;
  display: flex;
}

.ofertas-left {
  max-width: 50%;
}

.ofertas-left h1 {
  font-size: 48px;
}

.ofertas-left p {
  margin-top: 3%;
  font-size: x-large;
  text-align: justify;
}

.ofertas-right {
  width: 100%;
  text-align: center;
  align-content: center;
}

.ofertas-right input {
  height: 60px;
  width: 160px;
  font-size: large;
  background-color: #e0a734;
  border-radius: 5px;
}

.ofertas-right input:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----------------------------- */
#feedback {
  margin-top: 25%;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.box {
  display: block;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: white;
}

.box img {
  height: 30px;
  width: 450px;
  border-bottom: solid;
  border-color: black;
  color: #e0a734;
}

.box-text p {
  margin-top: 15px;
  font-size: large;
  text-align: justify;
}

.box-text {
  padding: 15px 25px;
  max-width: 450px;
}

/* ----------------------------- */
#about {
  margin-top: 25%;
  display: flex;
}

.about-left {
  max-width: 50%;
}

.about-left h1 {
  font-size: 42px;
}

.about-left p {
  margin-top: 3%;
  font-size: x-large;
}

.about-right {
  width: 100%;
  text-align: center;
  align-content: center;
}

.about-right input {
  height: 60px;
  width: 160px;
  font-size: large;
  background-color: #e0a734;
  border-radius: 5px;
}

.about-right input:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----------------------------- */
.footer-text {
  width: 100%;
  display: block;
  text-align: center;
  align-content: center;
}

.footer-text p {
  margin-bottom: 10px;
  color: white;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer-links img{
  height: 60px;
  width: 60px;
}